---
/**
 * @description concept detail page (protected)
 * @file /program/concepts/[slug]/index.astro
 * @param slug
 * @author amitchanchal
 * @updated August 27, 2025
 */
import DashLayout from "@layouts/DashLayout.astro";
import { render, getEntry, type CollectionEntry } from "astro:content";
import MDContainer from "@components/content/MDContainer.astro";
import ContentInitializer from "@components/program/progress/ContentInitializer";
import ContentNavigationButtons from "@components/program/progress/ContentNavigationButtons";
import ContentProgressStatus from "@components/program/progress/ContentProgressStatus";
import AddNote from "@components/user/actions/AddNote";
import PostQuestion from "@components/user/actions/PostQuestion";
import SaveBookmark from "@components/user/actions/SaveBookmark";
import SpeechBar from "@components/content/SpeechBar.astro";
import ActionBar from "@components/content/ActionBar.astro";

import { hasAccess, accessProfiles } from "@lib/rbac";
const { userRoles, session } = Astro.locals;

// Authentication Check
const isAuthenticated: boolean = session !== null;
// Access Check
const hasPageAccess: boolean = hasAccess(userRoles, [2, 5, 7]);

// redirect if doesnt have access
if (!isAuthenticated || !hasPageAccess) {
  return Astro.redirect("/program");
}

// Get the slug from the incoming server request
const pathname: string = Astro.url.pathname;
const { slug } = Astro.params;
if (slug === undefined) {
  return Astro.redirect("/404");
}

const concept = await getEntry("concepts", slug);

if (concept === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await render(concept);

// Related Content
const currentMilestone = await getEntry(concept.data.milestone);

const breadcrumbs = [
  { name: "Home", url: "/" },
  { name: "Program", url: "/program" },
  {
    name: `Milestone-${currentMilestone?.data.sequence}`,
    url: `/program/milestones/${currentMilestone?.slug}`,
  },
  {
    name: `Concept-${concept.data.title}`,
    url: `/activities/${concept.slug}`,
  },
];
---

<DashLayout
  title={`activity - ${concept.data.title} | urge`}
  description={concept.data?.description || concept.data.title}
  breadcrumbItems={breadcrumbs}
>
  <ActionBar>
    <div class="bg-white p-2 rounded-lg shadow-md border border-gray-200">
      <ContentInitializer
        contentMetaId={concept.data.contentMetaId}
        client:load
      />
      <ContentProgressStatus
        contentId={concept.data.contentMetaId}
        client:load
      />
    </div>

    {
      session != null && session.user.id ? (
        <div class="flex gap-4">
          <PostQuestion
            contentType={concept.collection}
            referenceTable={"content_meta"}
            referenceUrl={pathname}
            relatedContentId={concept.data.contentMetaId}
            userId={session?.user.id}
            client:load
          />
          <AddNote
            contentType={concept.collection}
            referenceTable={"content_meta"}
            referenceUrl={pathname}
            relatedContentId={concept.data.contentMetaId}
            userId={session?.user.id}
            client:load
          />
          <SaveBookmark
            contentType={concept.collection}
            referenceTable={"content_meta"}
            referenceUrl={pathname}
            relatedContentId={concept.data.contentMetaId}
            userId={session?.user.id}
            client:load
          />
        </div>
      ) : null
    }
  </ActionBar>

  <h1>{concept.data.title}</h1>

  <SpeechBar>Speed controls</SpeechBar>

  <MDContainer>
    <Content />
  </MDContainer>

  <ContentNavigationButtons
    contentType={concept.collection}
    nextContentId={concept.data.next?.id}
    previousContentId={concept.data.previous?.id}
    nextContentType={concept.data.next?.type}
    previousContentType={concept.data.previous?.type}
    contentMetaId={concept.data.contentMetaId}
    client:load
  />
</DashLayout>
