---
/**
 * @description exercise list page (protected)
 * @file /src/pages/program/exercises/index.astro
 * @param _props
 * @author amitchanchal
 * @version 1.2
 * @updated may 27, 2025
 */
import DashLayout from "../../../../layouts/DashLayout.astro";
import { render, getEntry, type CollectionEntry } from "astro:content";
import MDContainer from "../../../../components/content/MDContainer.astro";
import ContentInitializer from "../../../../components/program/progress/ContentInitializer";
import ContentNavigationButtons from "../../../../components/program/progress/ContentNavigationButtons";
import ContentProgressStatus from "../../../../components/program/progress/ContentProgressStatus";
import ContentAction from "../../../../components/user/actions/ContentActions";

import { hasAccess, accessProfiles } from "../../../../lib/rbac";

const { userRoles, session } = Astro.locals;

// Authentication Check
const isAuthenticated: boolean = session !== null;
// Access Check
const hasPageAccess: boolean = hasAccess(
  userRoles,
  accessProfiles.programStart,
);

// redirect if doesnt have access
if (!isAuthenticated || !hasPageAccess) {
  return Astro.redirect("/start");
}

type Exercise = CollectionEntry<"exercises">;

// get the slug from incoming server request
const pathname: string = Astro.url.pathname;
const { slug } = Astro.params;
if (slug === undefined) {
  return Astro.redirect("/404");
}

// get the milestone entry
const exercise = await getEntry("exercises", slug);

if (exercise === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await render(exercise);

// get Parent Milestone
const parentMilestone = await getEntry(exercise.data.milestone);
const relatedConcept = await getEntry(exercise.data.concept);

// Breadcrumbs data
const breadcrumbs = [
  { name: "Home", url: "/" },
  { name: "Program", url: "/program" },
  {
    name: `Milestone ${parentMilestone.data.sequence}`,
    url: `/program/milestone/${parentMilestone.slug}`,
  },
  {
    name: `Exercise - ${exercise.data.title}`,
    url: `/program/exercises/${exercise.slug}`,
  },
];
---

<DashLayout
  title={`exercise - ${exercise.data.title} | urge`}
  description={exercise.data?.description || exercise.data.title}
  breadcrumbItems={breadcrumbs}
>
  <ContentInitializer contentMetaId={exercise.data.contentMetaId} client:load />

  <div class="w-full flex justify-between items-center mb-8">
    <div
      class="p-2 h-full bg-white flex gap-1 items-center shadow-md rounded-md"
    >
      <ContentProgressStatus
        contentId={exercise.data.contentMetaId}
        client:load
      />
    </div>
    <div class="flex gap-2">
      {
        session != null && session.user.id ? (
          <ContentAction
            contentType={exercise.collection}
            referenceTable={"content_meta"}
            referenceUrl={pathname}
            relatedContentId={exercise.data.contentMetaId}
            userId={session?.user.id}
            client:load
          />
        ) : null
      }
    </div>
  </div>

  <h1 class="mb-8">{exercise.data.title}</h1>

  <MDContainer>
    <Content />
  </MDContainer>
  <ContentNavigationButtons
    contentType={exercise.collection}
    nextContentId={exercise.data.next?.id}
    previousContentId={exercise.data.previous?.id}
    nextContentType={exercise.data.next?.type}
    previousContentType={exercise.data.previous?.type}
    contentMetaId={exercise.data.contentMetaId}
    client:load
  />
</DashLayout>
