---
import "../styles/global.css";
import AuthListener from "../components/auth/AuthListener";
import NotificationToast from "../components/appFeedback/NotificationToast";
import InitializeStoreLog from "../components/dev/InitializeStoreLogs";
import Monitoring from "../components/monitoring/Sentry";

const { userRoles } = Astro.locals;
const sentryBrowserKey = import.meta.env.SENTRY_BROWSER_KEY;

console.log(userRoles);

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="wastedalmost-minimal">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:image" content="/social-image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logo/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="urge" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <!-- Local Fonts -->
    <link
      rel="preload"
      href="/fonts/GeneralSans-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Switzer-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- Google Fonts 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    -->

    <title>{title}</title>
  </head>
  <body>
    <AuthListener roles={userRoles} client:load />
    <Monitoring browserKey={sentryBrowserKey} client:load />
    <InitializeStoreLog client:load />
    <slot />
    <NotificationToast client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "urge",
    "url": "https://yourdomain.com"
  }
</script>
